In [11]:
# import matplotlib.pyplot as plt
import pandas as pd
# import numpy as np
import requests
# import time
# import scipy.stats as st
# from scipy import stats 
# from scipy.stats import linregress
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base

# Schools Data

In [12]:
schools_data = pd.read_csv("schools_clean.csv")
schools_data.head()

,Publication Name,Abbreviated Name,School Level,Admission Type,Current Grade Span Served,GPS Location,Street Address,Website
0,John Bartram High School,Bartram,High,Neighborhood,'09-12,"39.92149737, -75.23405562",2401 S 67TH ST,http://philasd.org/bartram
1,West Philadelphia High School,West Philadelphia,High,Neighborhood,'09-12,"39.958110, -75.219654",4901 CHESTNUT ST,http://philasd.org/wphs
2,High School of the Future,HS of Future,High,Citywide,'09-12,"39.97465766, -75.2047566",4021 PARKSIDE AVE,http://philasd.org/sof
3,Paul Robeson High School for Human Services,Robeson,High,Citywide,'09-12,"39.95679553, -75.20476311",4125 LUDLOW ST,http://philasd.org/robeson
4,William L. Sayre High School,Sayre,High,Neighborhood,'09-12,"39.95759354, -75.23859405",5800 WALNUT ST,http://philasd.org/sayre

In [13]:
schools_data.rename(columns = {"Publication Name" : "school_name", 
                               "Abbreviated Name": "abbrv_name",
                               "School Level": "school_level",
                               "Admission Type": "type",
                               "Current Grade Span Served": "grade_level",
                               "GPS Location":"geolocation",
                               "Street Address": "address",
                               "Website": "website"
                              }, inplace=True)

In [23]:
schools_data.index.name = 'id'
schools_data.head()

,school_name,abbrv_name,school_level,type,grade_level,geolocation,address,website
id,,,,,,,,
0,John Bartram High School,Bartram,High,Neighborhood,'09-12,"39.92149737, -75.23405562",2401 S 67TH ST,http://philasd.org/bartram
1,West Philadelphia High School,West Philadelphia,High,Neighborhood,'09-12,"39.958110, -75.219654",4901 CHESTNUT ST,http://philasd.org/wphs
2,High School of the Future,HS of Future,High,Citywide,'09-12,"39.97465766, -75.2047566",4021 PARKSIDE AVE,http://philasd.org/sof
3,Paul Robeson High School for Human Services,Robeson,High,Citywide,'09-12,"39.95679553, -75.20476311",4125 LUDLOW ST,http://philasd.org/robeson
4,William L. Sayre High School,Sayre,High,Neighborhood,'09-12,"39.95759354, -75.23859405",5800 WALNUT ST,http://philasd.org/sayre

## Transfering data to SQLite Database

In [24]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [25]:
engine = create_engine('sqlite:///philly.sqlite', echo=True)
Base.metadata.create_all(engine)

2021-05-01 14:15:10,199 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-01 14:15:10,200 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:10,201 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-01 14:15:10,201 INFO sqlalchemy.engine.base.Engine ()

In [26]:
class Schools(Base):
    __tablename__ = 'schools'
    Column("id", Integer, primary_key=True)
    school_name = Column(String)
    abbrv_name = Column(String)
    school_level = Column(String)
    type = Column(String)
    grade_level = Column(String)
    geolocation = Column(String)
    address= Column(String)
    website = Column(String)

In [27]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [28]:
session.execute('DROP TABLE "schools"')
#sqlite_connection.execute('CREATE TABLE "schools" ("index" INTEGER PRIMARY KEY, "School_Name" TEXT, "Abbreviated_Name" TEXT, "School_Level" TEXT, "Admission_Type" TEXT, "Grade_Level" TEXT, "Geolocation" TEXT, "Address" TEXT, "Website" TEXT)')

2021-05-01 14:15:17,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-01 14:15:17,697 INFO sqlalchemy.engine.base.Engine DROP TABLE "schools"
2021-05-01 14:15:17,698 INFO sqlalchemy.engine.base.Engine ()

In [29]:
Base.metadata.tables["schools"].create(bind=engine)

2021-05-01 14:15:18,954 INFO sqlalchemy.engine.base.Engine
CREATE TABLE schools (
	id INTEGER NOT NULL,
	school_name VARCHAR,
	abbrv_name VARCHAR,
	school_level VARCHAR,
	type VARCHAR,
	grade_level VARCHAR,
	geolocation VARCHAR,
	address VARCHAR,
	website VARCHAR,
	PRIMARY KEY (id)
)


2021-05-01 14:15:18,955 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:18,957 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
sqlite_table = "schools"
schools_data.to_sql(sqlite_table, engine, if_exists = "replace", index =True)

2021-05-01 14:15:26,404 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("schools")
2021-05-01 14:15:26,405 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,407 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("schools")
2021-05-01 14:15:26,407 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,409 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-01 14:15:26,410 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,411 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("schools")
2021-05-01 14:15:26,412 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,413 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-01 14:15:26,414 INFO sqlalchemy.engine.base.Engine ('schools',)
2021-05-01 14:15:26,416 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("schools")
2021-05-01 14:15:26,417 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,417 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("schools")
2021-05-01 14:15:26,418 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,419 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-01 14:15:26,420 INFO sqlalchemy.engine.base.Engine ('schools',)
2021-05-01 14:15:26,421 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("schools")
2021-05-01 14:15:26,422 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,423 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("schools")
2021-05-01 14:15:26,424 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,425 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("schools")
2021-05-01 14:15:26,425 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,426 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("schools")
2021-05-01 14:15:26,427 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,427 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-05-01 14:15:26,428 INFO sqlalchemy.engine.base.Engine ('schools',)
2021-05-01 14:15:26,430 INFO sqlalchemy.engine.base.Engine
DROP TABLE schools
2021-05-01 14:15:26,430 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,432 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-01 14:15:26,435 INFO sqlalchemy.engine.base.Engine
CREATE TABLE schools (
	id BIGINT,
	school_name TEXT,
	abbrv_name TEXT,
	school_level TEXT,
	type TEXT,
	grade_level TEXT,
	geolocation TEXT,
	address TEXT,
	website TEXT
)


2021-05-01 14:15:26,436 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,438 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-01 14:15:26,439 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_schools_id ON schools (id)
2021-05-01 14:15:26,440 INFO sqlalchemy.engine.base.Engine ()
2021-05-01 14:15:26,442 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-01 14:15:26,446 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-01 14:15:26,451 INFO sqlalchemy.engine.base.Engine INSERT INTO schools (id, school_name, abbrv_name, school_level, type, grade_level, geolocation, address, website) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-01 14:15:26,452 INFO sqlalchemy.engine.base.Engine ((0, 'John Bartram High School', 'Bartram', 'High', 'Neighborhood', "'09-12", '39.92149737, -75.23405562', '2401 S 67TH ST', 'http://philasd.org/bartram'), (1, 'West Philadelphia High School', 'West Philadelphia', 'High', 'Neighborhood', "'09-12", '39.958110, -75.219654', '4901 CHESTNUT ST', 'http://philasd.org/wphs'), (2, 'High School of the Future', 'HS of Future', 'High', 'Citywide', "'09-12", '39.97465766, -75.2047566', '4021 PARKSIDE AVE', 'http://philasd.org/sof'), (3, 'Paul Robeson High School for Human Services', 'Robeson', 'High', 'Citywide', "'09-12", '39.95679553, -75.20476311', '4125 LUDLOW ST', 'http://philasd.org/robeson'), (4, 'William L. Sayre High School', 'Sayre', 'High', 'Neighborhood', "'09-12", '39.95759354, -75.23859405', '5800 WALNUT ST', 'http://philasd.org/sayre'), (5, 'William T. Tilden School', 'Tilden', 'Middle', 'Neighborhood', "'05-08", '39.92093619, -75.23227632', '6601 ELMWOOD AVE', 'http://philasd.org/tilden'), (6, 'Motivation High School', 'Motivation', 'High', 'Special Admit', "'09-12", '39.94453199, -75.24184422', '5900 BALTIMORE AVE', 'http://philasd.org/motivationhs'), (7, 'John Barry School', 'Barry', 'Elementary-Middle', 'Neighborhood', "'00-08", '39.96437494, -75.23860376', '5900 RACE ST', 'http://philasd.org/barry')  ... displaying 10 of 328 total bound parameter sets ...  (326, 'MAST III Charter School', 'MAST III', 'Elementary', 'Citywide With Criteria', "'00-06", '40.109575, -74.991671', '1 CROWN WAY', 'https://mast3.org/'), (327, 'Philadelphia Hebrew Charter', 'Philadelphia Hebrew', 'Elementary', 'Citywide', "'00-02", '40.012045, -75.184376', '3300 HENRY AVE', 'http://philadelphiahebrewpublic.org/'))
2021-05-01 14:15:26,466 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
#session.execute('alter table schools drop id')

In [41]:
engine.table_names()
#session.execute('alter table schools add primary key(id)')

2021-05-01 14:21:22,645 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-01 14:21:22,646 INFO sqlalchemy.engine.base.Engine ()

['census_household', 'censustracks', 'household', 'query_url', 'schools']

In [ ]:
session.close()